<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DirectionSystems2.Properties.Settings.BomGostoConnectionString"
            connectionString="Data Source=DESKTOP-VAVJVPI\SQLEXPRESS;Initial Catalog=BomGosto;Persist Security Info=True;User ID=lucas.pansini"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>